body{
	font-family: "arial";
	height: 100%;
	background-color: #e5e5e5;
	overflow-x: hidden;
}

#cont1{
	display: none;
}
@media screen and (max-width: 700px){
	body{
		background-color: white;
	}
	#container{
		height:8px;
	}
	#footer{
		width: 100%;
		height: 30px;
		margin: 60 auto 0 0px;
	}
	#footer-cont{
		width: 200px;
		height: 100%;	
		margin: 5px auto 0 auto;
		bottom: 0;
		padding-top: 2px;
	}
	#footer p{
		color: #4a4a4a;
		margin-top: 0px;
		font-weight: 400;
		text-align: center;
	}
	#portfolio{		
		font-weight: bold;
	}
	#content{
		width: 80%;	
		height: 5px;		 
		margin: 0px auto 0 auto;
	}
	#content h1{
		text-align: left;
		font-size: 25;
		margin-top: -25px;
		font-weight: bold;
		margin-bottom: 35px;
	}	
	#content h2{
		position: relative;
		text-align: justify;
		line-height: 30px;
		font-size: 25;
		margin-top: -65px;
		margin-left: 120px;
		font-weight: 100;
		color: #666666;
	}	
	#content h3{
		position: relative;
		text-align: justify;
		line-height: 35px;
		font-size: 18;
		margin-top: -11px;
		font-weight: normal;
		color: #666666;
	}
	#frame, #frame2, #frame3{
		width: 100%;
		background-color: white;
		border-radius: 5px; 
		-webkit-box-shadow: 0px 1px 1px 1px rgba(0,0,0,0.26);
		-moz-box-shadow: 0px 1px 1px 1px rgba(0,0,0,0.26);
		box-shadow: 0px 1px 1px 1px rgba(0,0,0,0.26);
		margin: 0px auto 25px auto;
		position: relative;
	}
	#frame img, #frame2 img, #frame3 img{
		position: relative;
		border-radius: 5px; 
		width: 94.5%;
		margin: 3% auto 3% auto;
	}
	a{
		color: black;
		text-decoration: none;
	}
	a:hover{
		color: #666666;
	}
}
@media screen and (min-width: 700.01px) and (max-width: 999px){
	#container{
		height:973px;
	}
	#footer{
		width: 100%;
		background-color: #e5e5e5;
		height: 40px;
		margin: 62 auto 0 0px;
	}
	#footer-cont{
		width: 400px;
		height: 100%;	
		margin: 5px auto 0 auto;
		bottom: 0;
		padding-top: 2px;
	}
	#footer p{
		color: #4a4a4a;
		margin-top: 10px;
		font-weight: 400;
		text-align: center;
	}
	#portfolio{
		color: #666666;
	}
	#content{
		width: 670px;	
		height: 240px;		 
		margin: 0 auto 0 auto;
	}
	#content h1{
		text-align: left;
		font-size: 30;
		margin-top: 40px;
		font-weight: bold;
		margin-left: 10px;
	}	
	#content h2{
		position: relative;
		text-align: left;
		line-height: 30px;
		max-width: 350px;
		font-size: 30;
		margin-top: -52px;
		font-weight: 100;
		color: #666666;
		margin-left: 153px;
	}	
	#content h3{
		position: relative;
		text-align: justify;
		max-width: 350px;
		font-size: 18;
		font-weight: normal;
		color: #666666;
		margin-left: 10px;
	}
	#frame, #frame2, #frame3{
		width: 650px;
		height: 515px;
		background-color: white;
		border-radius: 5px; 
		-webkit-box-shadow: 0px 1px 1px 1px rgba(0,0,0,0.26);
		-moz-box-shadow: 0px 1px 1px 1px rgba(0,0,0,0.26);
		box-shadow: 0px 1px 1px 1px rgba(0,0,0,0.26);
		margin: 30px auto 0 auto;
	}
	#frame img, #frame2 img, #frame3 img{
		position: absolute;
		float: left;
		margin-left: 20px;
		margin-top: 20px;
		border-radius: 5px; 
		width: 610px;
	}
	#frame3{
		height: 652px;
	}
	#frame2{
		margin-bottom: 30px;
	}
	a{
		color: black;
		text-decoration: none;
	}
	a:hover{
		color: #666666;
	}
}
@media screen and (min-width: 999.01px) and (max-width: 1199px){
	#container{
		height:1210px;
	}
	#footer{
		width: 100%;
		background-color: #e5e5e5;
		height: 40px;
		margin: 63 auto 0 0px;
	}
	#footer-cont{
		width: 300px;
		height: 100%;	
		margin: 5px auto 0 auto;
		bottom: 0;
		padding-top: 2px;
	}
	#footer p{
		color: #4a4a4a;
		margin-top: 10px;
		font-weight: 400;
		text-align: center;
	}
	#portfolio{
		color: #666666;
	}
	#content{
		position: relative;
		width: 860px;	
		height: 130px;		 
		margin: 0 auto 0 auto;
	}
	#content h1{
		text-align: left;
		font-size: 60;
		margin-top: 80px;
		font-weight: bold;
		margin-left: 35px;
	}	
	#content h2{
		position: relative;
		text-align: justify;
		line-height: 35px;
		max-width: 800px;
		font-size: 58;
		margin-top: -92px;
		margin-left: 315px;
		font-weight: 100;
		color: #666666;
		font-weight: normal;
	}	
	#content h3{
		position: relative;
		text-align: justify;
		line-height: 35px;
		max-width: 450px;
		font-size: 23;
		margin-top: -8px;
		font-weight: normal;
		margin-left: 36px;
		color: #666666;
	}
	#frame, #frame2, #frame3{
		width: 800px;
		height: 633px;
		background-color: white;
		border-radius: 5px; 
		-webkit-box-shadow: 0px 1px 1px 1px rgba(0,0,0,0.26);
		-moz-box-shadow: 0px 1px 1px 1px rgba(0,0,0,0.26);
		box-shadow: 0px 1px 1px 1px rgba(0,0,0,0.26);
		margin: 40px auto 0 auto;
	}
	#frame3{
		height: 803px;		
	}
	#frame img, #frame2 img, #frame3 img{
		position: absolute;
		float: left;
		margin-left: 25px;
		margin-top: 25px;
		border-radius: 5px; 
		width: 750px;
	}
	#frame2{
		margin-bottom: 45px;
	}
	a{
		color: black;
		text-decoration: none;
	}
	a:hover{
		color: #666666;
	}
}
@media screen and (min-width: 1199.01px){
	#container{
		height:1348px;
	}
	#footer{
		width: 100%;
		background-color: #e5e5e5;
		height: 40px;
		margin: 60 auto 0 0px;
	}
	#footer-cont{
		width: 300px;
		height: 100%;	
		margin: 5px auto 0 auto;
		bottom: 0;
		padding-top: 2px;
	}
	#footer p{
		color: #4a4a4a;
		margin-top: 10px;
		font-weight: 400;
		text-align: center;
	}
	#portfolio{
		color: #666666;
	}
	#content{
		width: 1200px;	
		height: 155px;		 
		margin: 0 auto 0 auto;
	}
	a{
		text-decoration: none;
	}
	a:hover{
		color: #666666;
	}
	#content h1{
		text-align: left;
		font-size: 60;
		margin-top: 80px;
		font-weight: bold;
		margin-left: 130px;
	}	
	#content h2{
		position: absolute;
		text-align: left;
		line-height: px;
		font-size: 60;
		margin-top: -92px;
		margin-left: 410px;
		font-weight: 100;
		color: #666666;
		font-weight: normal;
		width: 1800px;
	}	
	#content h3{
		position: relative;
		text-align: justify;
		font-size: 23;
		margin-top: -8px;
		font-weight: normal;
		color: #666666;
		margin-left: 130px;
	}	
	#frame, #frame2, #frame3{
		width: 78%;
		height: 735px;
		background-color: white;
		border-radius: 5px; 
		-webkit-box-shadow: 0px 1px 1px 1px rgba(0,0,0,0.26);
		-moz-box-shadow: 0px 1px 1px 1px rgba(0,0,0,0.26);
		box-shadow: 0px 1px 1px 1px rgba(0,0,0,0.26);
		margin: 40px auto 0 auto;
	}
	#frame img, #frame2 img, #frame3 img{
		position: absolute;
		float: left;
		margin-left: 25px;
		margin-top: 25px;
		border-radius: 5px; 
		width: 885px;
	}
	#frame3{
		height: 935px;
	}
	a{
		color: black;
	}
}